<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Bassem/Documents/GitHub/PlacHolder">
        <classes>
            <class name="PlaceHolder.Tests.GetUserIdTest">
        <methods>
        <include name="getUserID"/>
        <include name="getPostsWithUserId"/>
    </methods>
    </class>
    </classes>
</test>
</suite>